@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,300;1,300&display=swap');

#done {
    font-size: 10vw;
    font-family: 'Dancing Script', cursive;
}
#ok {
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}